@font-face {
    src: url("BL______.ttf");
}
@font-face {
    src: url("ahronbd.ttf");
}

#pane{
    -fx-background-color: "#6D6440";
    -fx-background-size: cover;
    -fx-border-style: solid inside;
    -fx-border-color: "#FFFF00";
    -fx-border-width: 5px;
}

#title{
    -fx-font-family: "balloon";
    -fx-font-size: 60px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}

#InnerSet{
    -fx-background-color: "#48432A";
    -fx-background-size: cover;
    -fx-border-style: solid inside;
    -fx-border-color: "#FFFF00";
    -fx-border-width: 5px;
}

#option{
    -fx-font-family: "Aharoni";
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}

#ACmode{
    -fx-background-color: "#6D6440";
    -fx-border-style: solid outside;
    -fx-border-color: "#FFFF00";
    -fx-border-width: 3px;
}

#ACmode .box{
    -fx-background-color: "#6D6440";
}

#ACmode:selected .mark{
    -fx-background-color: "#FFFFFF";
}

#backButton{
    -fx-font-family: "Aharoni";
    -fx-border-style: solid outside;
    -fx-border-color: "#FFFF00";
    -fx-border-width: 3px;
    -fx-text-fill: white;
    -fx-font-size: 30px;

    -fx-background-color: "960000";
}

#confirmButton{
    -fx-font-family: "Aharoni";
    -fx-border-style: solid outside;
    -fx-border-color: "#FFFF00";
    -fx-border-width: 3px;
    -fx-text-fill: white;
    -fx-font-size: 30px;

    -fx-background-color: "00B050";
}

.label{
}
.outline.label .text {
    -fx-stroke: black;
    -fx-stroke-width: 4px;
    -fx-fill: black;
}